@font-face {
  font-family: 'Linoette';
  /* src: font-url('Linoette-SemiBold.ttf') format('truetype'); */
  src: font-url('Linoette-SemiBold.otf') format('opentype');
}

body {
  font-family: 'Linoette', sans-serif;
}
