.footer hr {
  border: 0;
  height: 1px;
  background: var(--darker-blue);
  background-image: -webkit-linear-gradient(
    left,
    #ccc,
    var(--darker-blue),
    #ccc
  );
  background-image: -moz-linear-gradient(left, #ccc, var(--darker-blue), #ccc);
  background-image: -ms-linear-gradient(left, #ccc, var(--darker-blue), #ccc);
  background-image: -o-linear-gradient(left, #ccc, var(--darker-blue), #ccc);
}

.footer p {
  color: var(--steel);
}
